$primaryColor: #46cfde;
$secondaryColor: #fffef2;
$accentColor1: #c4982d;
$accentColor2: #85e2ec;
$bodyCopyColor: black;
$bodyCopy:'Open Sans', sans-serif;
$headers: 'Cinzel Decorative', cursive;
$gutter: 10%;
